In [2]:
# 匯入library 簡稱為pd
import pandas as pd
# df => dataframe
# pd => pandas library 的簡稱
df = pd.read_excel("tutorial_pratice.xlsx", encoding = "utf8")

In [3]:
df

      name  CHINESE  ENGLISH  MATH
0     JOHN       90       50    60
1  WILLSON       80       40    50
2     ANDY       60       30    40

In [4]:
df["test"] = df["CHINESE"] + df["MATH"]
df

      name  CHINESE  ENGLISH  MATH  test
0     JOHN       90       50    60   150
1  WILLSON       80       40    50   130
2     ANDY       60       30    40   100